In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [24]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mukhen,RU,2020-10-31 12:57:45,48.10,136.10,39.51,74,100,6.15
1,1,Hamilton,US,2020-10-31 12:57:45,39.18,-84.53,37.00,80,1,6.93
2,2,Dikson,RU,2020-10-31 12:57:45,73.51,80.55,16.72,95,100,21.65
3,3,Tuktoyaktuk,CA,2020-10-31 12:57:46,69.45,-133.04,2.91,92,97,7.40
4,4,Kupang,ID,2020-10-31 12:57:46,-10.17,123.58,81.63,75,84,5.99
...,...,...,...,...,...,...,...,...,...,...
569,569,Rapar,IN,2020-10-31 12:58:31,23.57,70.63,84.94,29,0,4.65
570,570,Emerald,AU,2020-10-31 12:58:31,-23.53,148.17,77.00,20,0,6.93
571,571,Ahipara,NZ,2020-10-31 12:58:31,-35.17,173.17,62.55,96,34,5.75
572,572,Ibb,YE,2020-10-31 12:58:31,13.97,44.18,70.20,42,91,5.57
573,573,Brigantine,US,2020-10-31 12:58:31,39.41,-74.36,39.00,73,1,8.05

In [5]:
#The data we use for any mapping must be either an integer or a floating-point decimal numbe

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
#general syntax for creating a heatmap
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [25]:
#To remove the negative temperatures a for loop to iterate through the max_temp 
#and add the temperatures that are greater than 0 °F to a new list. 

#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
#Adjust Heatmap Zoom, Intensity, and Point Radius

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of temperature adjusted 

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of Wind Speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kupang,ID,2020-10-31 12:57:46,-10.17,123.58,81.63,75,84,5.99
7,7,Isiro,CD,2020-10-31 12:57:46,2.77,27.62,76.64,91,99,0.65
13,13,Yeppoon,AU,2020-10-31 12:57:46,-23.13,150.73,75.20,78,0,8.05
15,15,Saint-Philippe,RE,2020-10-31 12:55:33,-21.36,55.77,75.20,50,20,18.34
17,17,Axim,GH,2020-10-31 12:57:47,4.87,-2.24,83.59,74,37,7.43
22,22,Sao Filipe,CV,2020-10-31 12:57:47,14.90,-24.50,82.36,59,100,17.45
25,25,Moyale,KE,2020-10-31 12:57:47,3.52,39.06,75.24,64,45,11.03
27,27,Kahului,US,2020-10-31 12:53:25,20.89,-156.47,78.80,65,90,3.36
30,30,Aloleng,PH,2020-10-31 12:57:48,16.13,119.78,81.97,75,100,10.33
31,31,Oistins,BB,2020-10-31 12:57:48,13.07,-59.53,80.60,88,20,16.11

In [37]:
#check for null values
preferred_cities_df.count()

City_ID       191
City          191
Country       190
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
4           Kupang      ID     81.63 -10.17  123.58
7            Isiro      CD     76.64   2.77   27.62
13         Yeppoon      AU     75.20 -23.13  150.73
15  Saint-Philippe      RE     75.20 -21.36   55.77
17            Axim      GH     83.59   4.87   -2.24
22      Sao Filipe      CV     82.36  14.90  -24.50
25          Moyale      KE     75.24   3.52   39.06
27         Kahului      US     78.80  20.89 -156.47
30         Aloleng      PH     81.97  16.13  119.78
31         Oistins      BB     80.60  13.07  -59.53

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [56]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kupang,ID,81.63,-10.17,123.58,Sylvia Hotel Premier Kupang
7,Isiro,CD,76.64,2.77,27.62,Nova
13,Yeppoon,AU,75.20,-23.13,150.73,Villa Mar Colina
15,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
17,Axim,GH,83.59,4.87,-2.24,AXIM BEACH RESORT AND SPA
22,Sao Filipe,CV,82.36,14.90,-24.50,Tortuga B&B
25,Moyale,KE,75.24,3.52,39.06,WOCHES PALACE
27,Kahului,US,78.80,20.89,-156.47,Maui Seaside Hotel
30,Aloleng,PH,81.97,16.13,119.78,Agno Umbrella Rocks
31,Oistins,BB,80.60,13.07,-59.53,Butterfly Beach Hotel

In [57]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [61]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))